.header-section {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.Navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 25px;
}

.NavMiniComponent-section {
  width: 18%;
  background-color: lightgray;
  height: 50px;
  text-align: center;
}

.left-content {
  width: 55%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.mid-content {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  height: 250px;
  justify-content: space-between;
}

.item-cc {
    height: 100px;
    width: 100%;
    background: lightgray;
    text-align: center;
}

.footer {
  background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 25px;
}

body {
  margin: 30px;
}